{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="contacts-text">
        <div class="container">
        <div class="row"style="
    padding: 10px;">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Контакты
                </h1>
                <div class="text-center">
                    <h3>Адрес:</h3>
                    <h5>ул. Чернышевская, 29, 197377, Санкт-Петербург</h5>
                    <h3>Телефон:</h3>
                    <h5>+7 (812) 985-99-77</h5>
                    <h3>Электронная почта:</h3>
                    <h5>info@appleSHOP.ru</h5>
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}