{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="deliveryandpayment-text">
    <div class="container">
        <div class="row" style="
    padding: 48px;">
            <div class="col-lg-12">
                <h1 class="text-center">
                    Условия доставки
                </h1>
                <h5 class="text">
                    Доставка осуществляется в пределах Санкт-Петербурга и ЛО.
                    Стоимость доставки товара в пределах КАД – 200 рублей. За пределами КАД - 500 рублей.
                    При покупке на сумму от 100000 рублей — доставка бесплатная.
                </h5>
                <h1 class="text-center">
                    Условия оплаты
                </h1>
                <h3 class="text-center">
                    Наличный расчёт
                </h3>
                <h5 class="text">
                    Вы можете оплатить заказ наличными курьеру при его получении или в пункте самовывоза.
                    При получении товара обязательно проверьте комплектацию заказа, наличие гарантийного талона и чека.
                </h5>
                <h3 class="text-center">
                    Безналичный расчёт
                </h3>
                <h5 class="text">
                    После оформления заказа будет сформирован счёт на оплату, который Вы можете распечатать и оплатить.
                    Денежные средства поступят на наш счёт в течение 2-3 рабочих дней после оплаты заказа.
                    Оплата заказов клиентами - юридическими лицами возможна только по безналичному расчёту.
                    Все необходимые для бухгалтерии документы (оригинал счёта на оплату, счёт-фактура, накладная)
                    выдаются вместе с заказом при получении.
                </h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}